<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet"> 

    <!-- bootstrap and jquery -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

    <title>File Conversion</title>
    <style>
        body{
            font-size: 20px;
            font-family: 'Montserrat', sans-serif;
        }
        .navbar-brand
        {
            margin-left: 2em;
            margin-right: 7em;
            font-size: 30px;
        }
        .nav-item
        {
            margin-left: 7.5px;
        }
        
        .d-flex
        {
            margin-right: 2em;
        }
        .box
        {
            width: 47.5em;
            height: 300px;
            border: 1px solid tomato;
            padding: 20px;
            border-radius: 0.5em;
            
            margin: auto;
        }
        .footer
        {
            height: 2.5em;
            width: 100%;
            background-color: black;
            clear: both;
            position: fixed;
            bottom: 0;
        }
        .badge
        {
            margin-left: 50px;
            margin-top: 40px;
        }
        #tags
        {
            height: 100px;
            width: 250px;
            margin-left: 200px;
            font-size: 20px;
        }
        .convert
        {
            border: 1px red solid;
            margin-left: 50px;
            margin-right: 50px;
            padding: 10px;
            border-radius: 1em;
        }
        .btn
        {
            border-radius: 1em;
        }
        .intro
        {
            text-align: left;
            margin: 5em;
            float: left;
        }
        img
        {
            height: 400px;
            width: 600px;
            margin-top: 50px;
            margin-right: 10px;
        }
        h1
        {
            font-weight: 700;
        }
    </style>
</head>
<body>
    
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="">C3PO</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#togglerwork02" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

        <div class="collapse navbar-collapse" id="togglerwork02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="">Compress</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Convert</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Converge</a>
            </li>
           
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    All Tools
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                    
                  </ul>
            </li>
        </ul>
            <div class="d-flex">
                <a class="nav-linfk " href=""><button type="button" class="btn btn-danger">Sign In</button></a>
            </div>
        </div>  
    </nav>
    
    <div class="intro">
        <h1>C3PO : Compress Convert Converge PDF Options</h1>
        <br>
        <span style="color:blueviolet "><h3>YOUR PERSONAL PDF CONVERTER</h3></span>
        <H3>Convert your word or odt files to pdf here</H3>
        <br>
        <a href="pdf"><button type="button" class="btn btn-primary btn-lg" href="pdf" >Go To Converter</button>
        </a>
        <!-- <button type="button" class="btn btn-primary btn-lg" href="pdf" >Go To Converter</button> -->

    </div>
    <img src="https://www.2pdfconverter.com/pics/icon-doc2pdf.png">
    

    

    <div class="footer">

    </div>
</body>
</html>